#title{
    background-color: #ff4c68;
}
.title-font{
    font-size: 3rem;
    line-height: 1.5;
    color: white;    
}
.row{
    padding: 5% 12%;

}
.container-fluid{
    padding: 3% 15%;
}
.navbar-brand{
    color: white;
}
.navbar-nav ms-auto{
    color: white;
}
#title{
    font-family: "Montserrat";
}
.col-lg-6{
    padding: 5% 12%;
}

/* Navigation Bar */
.navbar-brand{
    font-family: ubuntu;
    padding: 5% 12%;
    font-size:5rem;
    font-weight: bolder;

}
.nav-item{
    padding: 0 8px;
    color: white;
}
.navbar-toggler{
    color: transparent;
    border: 1px solid white;
}
.nav-link{
    color: white;
    font-size: 1.2rem;
}
.nav-item a{
    color: white;
    cursor: pointer;
}
.title-image{
    width: 70%;
    padding-left: 20%;
    transform: rotate(25deg);
}

#features{
    text-align: center;
}

.h3{
    font-family:"Montserrat";
    font-size: 1.5rem;
}
.features-p{
    color: #8f8f8f;
}
.fa-solid{
    color: #ef8172;
    size: 50rem;
    padding-top: 5%;
    padding-bottom: 5%;
}
.fa-solid:hover{
    color: #ff4c68;
}

#testimonials {
    text-align : center;
    background-color: #ef8172;
    color:white;
}
.testimonials-h2{
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    padding: 15px;
}
.carousel-item{
    padding: 7% 15%;
}

h2{
    font-family: "Montserrat";
    font-weight: bolder;
    /* font-size: 50px; */
}
p{
    font-family: "ubuntu";
    font-weight: bolder;
    color: #8f8f8f;
}
#pricing{
    text-align: center;
    padding: 5%;
}
.pricing-column{
    padding: 3% 2%;
}